<!DOCTYPE html>
<html>
<head>
	<title>Parkeren</title>
	<style>
		body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
	</style>
</head>
<body >

	<h1>Welkom bij parking "Kwizien"</h1>
	
	<div class="flex-parent jc-center">
	<button onclick="newBooking()" style="width: 150px; height: 50px;" >Nieuwe boeking</button>
	<button onclick="stopBooking()" style="width: 150px; height: 50px;">Boeking stoppen</button>
	
	</div>
	
	<script>
		
		function newBooking() {
			window.location.href = "/startbooking.html";
		}
		
		function stopBooking() {
			window.location.href = "/stopbooking.html";
		
		}
	</script>
</body>
</html>
