<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Confirm Booking!!!</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    h1,
    p {
        margin: 10px;
        text-align: center;
    }
</style>
</head>
<body>
	<h1>Currently no parkingspaces available, Try again later!</h1>
	
	
	
		
		<button type="submit" id= "exitButton">Exit</button>
	

	<script>
    document.getElementById("exitButton").addEventListener("click", function() {
        window.location.href = "../";
    });
</script>

</body>
</html>
